body {
  font-size: 14px;
  color: #000000;
  font-family: sans-serif;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}
strong {
  font-weight: 900;
}

input {

}
#map {

  height: 88%;
  width: 65%;
  font-style: #FFFFFF;
  margin-left: 1%;
  margin-bottom: 5px;
  margin-right: 1%;
}

#header {
  padding-top: 1%;
}

#about {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 5%;
   font-family: 'Open Sans', sans-serif;
  /*text-indent: 13px;*/
}

#title  {
  padding-left: 1.5%;
  padding-top: 3%;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  color: #fff;
  text-align: left;
  margin-top: 2%;
  /*margin-top: 50px;*/
}

#toggleAbout {
  padding-left: 0.5%;
  padding-top: 0.5%;
  padding-right: 0.5%;
  padding-bottom: 0.5%;
  margin-right: 1%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  color: #0278C8;
  border-color: transparent;
  outline: none;
  float:right;
  cursor: pointer;
}

#toggleAbout:hover {
    background-color: #5FA6D6;
    color: #fff;
}

#toggleForm {
  padding-left: 0.5%;
  padding-top: 0.5%;
  padding-right: 0.5%;
  padding-bottom: 0.5%;
  margin-right: 1%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  color: #0278C8;
  border-color: transparent;
  outline: none;
  float:right;
  cursor: pointer;
  /*margin-top: 1%;*/
}

#toggleForm:hover {
    background-color: #5FA6D6;
    color: #fff;
}

/*#toggleAdd {
  padding-left: 0.5%;
  padding-top: 0.5%;
  padding-right: 0.5%;
  padding-bottom: 0.5%;
  margin-right: 1%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  color: #0278C8;
  border-color: transparent;

  float:right;*/
/*  margin-top: 1%;*/
/*}*/

/*#toggleAdd:hover {
    background-color: #5FA6D6;
    color: #fff;
}*/


#years {
    /*position: absolute;*/
    z-index: 100000;
    /*top: 350;*/
    /*right: 26;*/
    background: #fff;
    margin-bottom: 20px;
    color: #0278C8;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    /*text-align: center;*/
}

.filter-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-left: -20px;
  color: #000;
  font-weight: 800;
}

#events {
    /*position: absolute;*/
    z-index: 100000;
    /*top: 350;*/
    /*right: 26;*/
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    color: #0278C8;
    margin-left: 10px;
    /*text-align: center;*/
}

#header p {
  padding-left: 1.5%;
  padding-top: 1%;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  color: #fff;
  text-align: left;
}

#county-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #0278C8;
  font-weight: 600;
  margin-top: 10%;
  text-align: center;
}

#no-data {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #959595;;
  font-weight: 600;
  margin-top: 40%;
  text-align: center;
}

#num-events {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #959595;;
  font-weight: 600;
  margin-top: 2%;
  text-align: center;
}

#admissions-num {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #959595;;
  font-weight: 600;
  margin-top: 40px;
  text-align: center;
}

 #my-legend .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    }
  #my-legend .legend-scale ul li {
    display: block;
    float: left;
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    font-family: 'Open Sans', sans-serif;
    }
  #my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    margin-left: 0;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    }

  #my-legend a {
    color: #eee;
    font-family: 'Open Sans', sans-serif;
    }

 #about-legend .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    }
  #about-legend .legend-scale ul li {
    display: block;
    float: left;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    }
  #about-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 55px;
    width: 55px;
    margin-right: 7px;
    margin-left: 0;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    }

  #about-legend a {
    color: #eee;
    font-family: 'Open Sans', sans-serif;
    }





#info {
  float: right;
  width: 30%;
  height: 100%;
  color: #FFF;
  font-family: sans-serif;
  padding-right: 0px;
  background-color: #101010;
  font-size: .7em;
}


#info p {

}

#info img {
    display : block;
    margin : auto;
    cursor: pointer; cursor: hand;
      padding-left: 12px;
}

.legend {
    line-height: 18px;
    color: #0278C8;
    background-color: #fff;
    border: 1px solid #0278C8;
    padding-left: 30px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;

}
.legend i {
    width: 18px;
    height: 18px;
    float: left;

    opacity: 0.7;
    font-family: 'Open Sans', sans-serif;
}

hr {
  margin-left: 10%;
  margin-right: 5%;
  border-color: #111111;
  background-color: #484849;
  height: 1px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

p {
  font-size: 13px;
/*  margin-left: 10%;
  margin-right: 5%;*/
  text-align: justify;
}

span {
  text-align: left;
}

h3 {
  text-align: center;
}