body {
  font-size: 14px;
  color: #000000;
  font-family: sans-serif;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}
#map { 

  height: 88%;
  width: 65%; 
  font-style: #FFFFFF;
  margin-left: 1%;
  margin-bottom: 5px;
  margin-right: 1%;
}

#header {
}

#about {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 10%;
  text-indent: 13px;
}

#title  {
  padding-left: 1.5%;
  padding-top: 3%; 
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  color: #fff;
  text-align: left;
  margin-top: 2%;
}

#toggleAbout {
  padding-left: 0.5%;
  padding-top: 0.5%; 
  padding-right: 0.5%; 
  padding-bottom: 0.5%;
  margin-right: 3%;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #fff;
  text-align: center;
  border-color: red;
  border-radius: 2px;
  float:right;
  margin-top: 5px;
}

#toggleAbout:hover { 
    background-color: gray;
}


#years {
    position: absolute;
    z-index: 100000;
    top: 350;
    right: 26;
    background: #fff;
    width: 100px;
    padding:10px;
    border: 1px solid;
    text-align: center;
}

#header p {
  padding-left: 1.5%;
  padding-top: 1%; 
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  color: #fff;
  text-align: left;
}

#county-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #0278C8;
  font-weight: 600;
  margin-top: 10%;
  text-align: center;
}

#no-data {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #959595;;
  font-weight: 600;
  margin-top: 40%;
  text-align: center;
}

#num-events {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #959595;;
  font-weight: 600;
  margin-top: 2%;
  text-align: center;
}

 #my-legend .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    }
  #my-legend .legend-scale ul li {
    display: block;
    float: left;
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    font-family: 'Open Sans', sans-serif;
    }
  #my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    margin-left: 0;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    }

  #my-legend a {
    color: #eee;
    font-family: 'Open Sans', sans-serif;
    }


#info {

  /*display: inline;*/
  float: right;
  width: 30%;
  height: 100%;
  color: #FFF;
  font-family: sans-serif;
  padding-right: 0px;
  background-color: #101010;
  font-size: .7em;
}


#info p {

}

#info img {
    display : block;
    margin : auto;
    cursor: pointer; cursor: hand;
      padding-left: 12px;
}

.legend {
    line-height: 18px;
    color: #0278C8;
    background-color: #fff;
    border: 1px solid #0278C8;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;

}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    font-family: 'Open Sans', sans-serif;
}

hr {
  margin-left: 10%;
  margin-right: 5%;
  border-color: #111111;
  background-color: #484849;
  height: 1px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

p {
  font-size: 13px;
/*  margin-left: 10%;
  margin-right: 5%;*/
  text-align: justify;
}

span {
  text-align: left;
}

h3 {
  text-align: center;
}